# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files
.idea/*
.vscode/*

# Ignore temp files
*~
*.swp
.DS_Store

# Like to make copies of original before modifying?  Name it with .OLD or .BACKUP extension
**/*.OLD
**/*.BACKUP

# Ignore other project items
artifacts/
bin/
gorm.db
